.pagination2 {
	height: 60px;
	font-size: 16px;
	text-align: center;
	color: #999;
	padding-top: 1px;
}

.pagination2 ul {
	display: inline-block;
	margin-bottom: 0;
	margin-left: 0;
	float: left;
	margin-right: 10px;
}

.pagination2 div {
	height: 22px;
	line-height: 22px;
	display: block;
	margin-right: 5px;
	border-radius: 3px;
}

.pagination2 span.page-btn {
	height: 22px;
	line-height: 22px;
	float: left;
	display: block;
	margin-right: 10px;
	width: 40px;
	background: #61a2d8;
	color: #fff;
	cursor: pointer;
	border-radius: 3px;
}

#go_pg_num {
	border: 1px solid #e6e6e6;
	height: 22px;
	margin: 0 3px;
	width: 28px;
	text-align: center;
	color: #999;
}

.pagination2 li {
	display: inline;
}

.pagination2 a {
	float: left;
	padding: 0 8px;
	line-height: 22px;
	text-decoration: none;
	border: 1px solid #ddd;
	border-left-width: 0;
	font-size: 100%;
	color: #999;
}

.pagination2 .active a {
	color: #fff;
	background-color: #70b4e0;
	cursor: default;
}

.pagination2 a:hover {
	border-color: #70b4e0;
}

.pagination2 .disabled span,
.pagination2 .disabled a,
.pagination2 .disabled a:hover {
	color: #999;
	cursor: default;
	background-color: transparent;
}

.pagination2 li a {
	border-width: 1px;
	border-radius: 3px;
}

a.page-ellipsis {
	border: medium none;
	cursor: default;
	line-height: 24px;
	padding: 0 0 4px;
}
