 
 
.replies ul {
    margin: 0;
}
.replies ul h6 {
    color: #999;
    font-weight: normal;
}
.replies ul li {
    line-height: 180%;
    border-bottom: 1px solid #ddd;
    list-style: none;
}
 
 
.sidebar .profile .avatar .level {
    margin-top: 6px;
    text-align: center;
}
.sidebar .profile .item {
    margin-bottom: 5px;
}
.sidebar .profile .item a {
    color: #666;
}
.sidebar .profile .number {
    color: #999;
}
.sidebar .profile .counts {
    color: #999;
}
.sidebar .profile .counts span {
    color: #666;
}
.sidebar .profile .follow-info {
    border-top: 1px solid #f0f0f0;
    text-align: center;
    margin-top: 15px;
    padding-top: 15px;
}
.sidebar .profile .follow-info a {
    display: block;
    text-decoration: none;
}
.sidebar .profile .follow-info a.counter {
    font-size: 32px;
    color: #356DD0;
}
.sidebar .profile .follow-info a.counter:hover {
    color: #317DDA;
}
.sidebar .profile .follow-info a.text {
    color: #999;
}
.sidebar .profile .buttons {
    border-top: 1px solid #f0f0f0;
    margin-top: 15px;
    padding-top: 15px;
}
.user-card {
    margin-bottom: 15px;
}
.user-card .media-heading {
    font-weight: bold;
}
.user-card .media-heading a {
    color: #333;
}
.user-card .infos {
    color: #999;
    font-size: 12px;
}
.user-card .infos .item {
    margin-top: 5px;
}
 