<!DOCTYPE html>
<html>
<head>
  <title>一个精简版网络社区</title>
  {(meta.html)}
</head>
<body data-controller-name="sessions">
{(header.html)}

<div id="main" class="main-container container">
    <div class="row" style="margin-top:30px;">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">关于</div>
                <div class="panel-body">
                   <div class="panel-body markdown">
                        <article>
                            <h2 id="社区">一个精简版网络社区</h2>
                           

                            <p>为提高社区质量,保持良好氛围,本站有自己的明确规则：</p>
                            <ul style="color:#ad2b2d;list-style:none;padding-left:8px;font-size:12px;"> 
                                <li>1.不讨论任何有关政治的话题,当你在网上发帖时,请考虑到你所做的一切,会受到你所在地区法律的管辖</li> 
                                <li>2.这里尊重原创,标题必须使用平和、友善、不带个人立场或情绪的描述性语言，不得使用歧视性用语或极端且带鲜明立场的词汇，不应带有评价性语言，不允许标题党、震惊体。转载不得擅自修改为煽动性的表述。
                                    转发内容必须使用原标题，标题非中文的请将标题原样翻译成中文，没有原标题的应当在标题栏对转载的内容作事实描述。</li>
                                <li>3.避免无趣内容。允许重大国际新闻、海外观点讨论等严肃内容，海外地区本地新闻会依据影响力以及与国内民众生活相关性等具体情况做判断，一般不予保留。</li>
                                <li>4.有明确反馈对象的问题（如「为何删帖」、「帖子未通过」、「封禁原因」等），请艾特 @admin 。</li> 
                                <li>5.禁止跨社区引流和骚扰行为 不欢迎跟同温层（echo chamber）社区的互动交流，不允许将不符合板规的同温层帖文转到本板，或将本板帖文恶意引流到其他同温层社区。
                                    不得在外部社区挂本板用户的言论或帐号，或在本板挂外部社区的言论或帐号。 不应将本板贴文转发到用户量大的板块，避免造成外部用户短时间大量涌入的</li> 
                                <li>6.禁止发布人身攻击、仇恨、暴力、侮辱性的言辞、暴露他人隐私的“人肉贴”;请记住，网线另一端也是活生生的人。不得基于民族、地域、宗教、性别等他人身份而发表歧视或仇恨言论，不得人身攻击、扣帽子、贴标签，不得实施威胁、辱骂、公开个人隐私等网络暴力行为，不得恶意钓鱼、引战。</li>
                            </ul> 
 
                            <p><strong>声明: 本站并未投放任何广告,如果出现广告,请检查DNS是否被劫持. </strong></p>
                            <p><strong>侵权: 如有侵权事宜,请发送邮件至本站邮箱：poembro@126.com </strong></p>
                        </article>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function(){
        APP.Common.resetNav("nav-about");
    });
</script>
{(footer.html)}
</body>
</html>
