<footer class="footer" id="footer">
    <div class="container">
        <div class="media">
            <div class="media-body">
                <div class="links">
                    <a href="/" target="_blank" rel="nofollow" title="本站在 GitHub 上面的开源内容">首页</a> /
                    <a href="/users">成员</a> /
                    <a href="/about">关于</a>
                </div>
                <div class="copyright"><a href="#">创意工作者的博客</a></div>
                <div class="copyright"><a href="#">World is powered by solitude</a></div>
            </div>
        </div>
    </div>
</footer>

{% if locals and locals.login and locals.login == true then %}
<div id="response-time-area"></div>
<script>APP.Common.findUnreadMsg();</script>
{% end %}
