<!DOCTYPE html>
<html>
<head>
    <title>一个精简版网络博客</title>
    {(meta.html)}
</head>
<body data-controller-name="sessions">
{(header.html)}

<div id="main" class="main-container container">
    <div class="row" style="margin-top: 30px;">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">最新加入成员</div>
                <div class="panel-body">
                    <div class="row">
                        {% if users then %}
                        {% for _, v in ipairs(users) do %}
                        <div class="col-sm-1 col-md-1">
                            <div class="thumbnail">
                                <img src="/static/avatar/{{v.avatar}}" class="img-responsive" title="{{v.username}}" alt="{{v.username}}">
                                <div class="caption" style="padding: 0;">
                                    <span><a href="/user/{{v.username}}/index">{{v.username}}</a></span>
                                </div>
                            </div>
                        </div>
                        {% end %}
                        {% end %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{(footer.html)}
</body>
</html>
